/*=============================================
=            Section General styles            =
=============================================*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--clr-light-4);
  color: var(--clr-body);

  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  overflow-x: hidden;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

img {
  /* display: block; */
  height: auto;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
  color: inherit;
  font-family: var(--ff-primary);
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

main {
  margin-top: var(--main-padding-top);
}

/*=====  End of Section General styles  ======*/
