/*=============================================
=            Custom oredred list            =
=============================================*/

/*----------  Counter  ----------*/

.rectangle-list {
  list-style-type: none;
  font-size: 1em;
}

.rectangle-list li:before {
  counter-increment: myCounter;
  content: counter(myCounter) ". ";
}

.rectangle-list:first-of-type {
  counter-reset: myCounter;
}

/*----------  Style  ----------*/

.rectangle-list li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  *padding: 0.4em;
  /* margin: 0.5em 0 0.5em 2.5em; */
  margin: 0.5em 1em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.rectangle-list li:hover {
  background: #eee;
  /* transform: scale(1.035); */
  transform: translateX(0.5em);
}

.rectangle-list li:before {
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #fa8072;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  /* font-weight: bold; */
  color: var(--clr-light);
}

.rectangle-list li:after {
  position: absolute;
  content: "";
  border: 0.5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
  transition: all 0.3s ease-out;
}

.rectangle-list li:hover:after {
  left: -0.5em;
  border-left-color: #fa8072;
}

/*=====  End of Custom oredred list  ======*/

/*=============================================
=            Transition            =
=============================================*/

/*=====  End of Transition  ======*/
