@import "./reset.css";
@import "./variables.css";
@import "./animations.css";
@import "./global.css";
@import "./bootstrap-utility.css";
@import "./utility.css";
@import "./navigation.css";
@import "./hero.css";
@import "./main.css";

/* Debug */

/* * {
  outline: red solid 1px;
} */

.swiper-container {
  max-width: 600px;
  max-height: 300px;
}
