@import "./reset.css";
@import "./variables.css";
@import "./global.css";
@import "./tools.css";
@import "./navigation.css";
@import "./hero.css";

/* Debug */

/* * {
  outline: red solid 1px;
} */

.swiper-container {
  max-width: 600px;
  max-height: 300px;
}
